<h1>This is the secret page</h1>

<p>Shh...it is a secret</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-hywcqRhZ8i2WJGft1lm7b5FDQvJGlxPIF8_B_oQltfsS-Fik">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>